* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  background-color: #f3f4ed; /* add a background color to the body */
  padding-top: 24px;
}

section {
  box-shadow: 1px 6px 17px -1px rgba(34, 60, 80, 19%);
  width: 60vw;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 16px;
  background-color: #8ad8ed; /* change the background color of the header */
  border-radius: 10px 10px 0 0; /* add rounded corners to the header */
}

.header h1 {
  color: #fff; /* change the color of the heading */
}

input {
  width: 100%;
  border: none;
  outline: none;
  padding-left: 16px;
  padding-bottom: 16px;
  font-size: 16px;
  font-style: italic;
}

button {
  width: 100%;
  border: none;
  background-color: #fff;
  padding: 24px 0;
  font-size: 16px;
  color: #d0d0d0;
  border-top: 1px solid #d0d0d0;
}

button:hover {
  cursor: pointer;
}

.fa-sync {
  font-size: 20px;
  color: #fff; /* change the color of the sync icon */
  cursor: pointer; /* change the cursor when hover over the sync icon */
}

.input-container {
  background-color: #fff;
  padding: 16px;
  border-radius: 10px;
}

.input-text {
  width: 100%;
  padding: 8px;
  border: none;
  outline: none;
  font-size: 16px;
  font-style: italic;
  border-radius: 4px;
}

.all-tasks-container {
  background-color: #fff; /* change the background color of the tasks container */
  border-radius: 10px; /* add rounded corners to the tasks container */
  padding: 16px; /* add padding to the tasks container */
}

.clear-completed {
  background-color: #ff7b7b; /* change the background color of the clear button */
  color: #fff; /* change the text color of the clear button */
  border-radius: 4px; /* add rounded corners to the clear button */
}

.clear-completed:hover {
  background-color: #ff5656; /* change the background color of the clear button on hover */
  cursor: pointer; /* change the cursor when hover over the clear button */
}

.checkbox {
  width: 10%;
}

.task-change {
  padding-bottom: 0;
}

.fas {
  font-size: 16px;
}

.fas:hover {
  cursor: pointer;
}

.task-container {
  padding: 24px 24px 24px 8px;
  border-top: 1px solid #d0d0d0;
  border-bottom: 1px solid #d0d0d0;
  display: flex;
  align-items: center;
  border-radius: 10px; /* add rounded corners to the task container */
  margin-bottom: 16px; /* add margin to the bottom of the task container */
}

.task-container:hover,
.task-change:hover {
  background-color: #eef9ff; /* change the background color of the task container on hover */
}

.checked-task {
  background-color: #fffed3;
}

.line-task {
  text-decoration: line-through;
  background-color: #fffed3;
}

span {
  flex: 1;
  font-size: 18px;
  color: #444; /* change the color of the task text */
}

.fa-trash-alt {
  display: none;
}

.fa-trash-alt:hover {
  color: #ff5656; /* change the color of the trash icon on hover */
}

.trash-active {
  display: block;
}

.edit-inactive {
  display: none;
}

.drag-over {
  border: 2px solid black;
  border: 2px solid #8ad8ed; /* change the color of the drag border */
}
